<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="message-sm">
            <h1>Your AzizLearning order is confirmed!</h1>
            <p>And were just as excited as you are.</p>
        </div>
        <div class="course-info">
            <h4>Heres what you ordred:</h4>
            <table>
                <tr>
                    <td>
                        Order #: <%= order._id %>
                    </td>
                    <td>
                        Order Date: <%= order.date %>
                    </td>
                </tr>
            </table>
            <table style="width:90%;margin:auto;display: block;">
                <tr>
                    <td class="first-td">Item</td>
                    <td class="first-td">Qty</td>
                    <td class="first-td">cost</td>
                </tr>
            </table>
            <table style="width:90%;margin:auto;display: block;">
                <tr>
                    <td class="second-td"><%= order.name %></td>
                    <td class="second-td">1</td>
                    <td class="second-td">$<%= order.price %></td>
                </tr>
            </table>
            <table class="table-row" style="border-top: 1px solid #00000029;">
                <tr>
                    <td class="col-2">Subtotal:</td>
                    <td class="col-2">$<%= order.price %></td>
                </tr>
            </table>
            <table class="table-row" style="margin-top: -20px;">
                <tr>
                    <td class="col-2">Total:</td>
                    <td class="col-2">$<%= order.price %></td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <p>
                if you have any questions, please contact our support teaù at
                <a href="https://profile-guennichi-aziz.netlify.app/">profile-guennichi-aziz.netlify.app</a>
            </p>
            <p>&copy; 2024 AzizLearning. All rights reserved.</p>
        </div>
    </div>
</body>
</html>